body {
    margin: 0px;
}

.upper {
    background-color: #1f2937;
    padding: 35px 135px 45px 135px;
    font-family: 'Roboto', sans-serif;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
    

}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 500px;

}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin: 10px 70% 10px 0px;
}

a { 
    margin: auto;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text {
    align-self: flex-start;
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero-paragraph {
    font-size: 18px;
    color: #e5e7eb;
}

 button {
    background-color: #4c74af;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
  }

img {
    height: 250px;
    width: 500px;
}

.mid {
    padding: 35px 135px 45px 135px;
    font-family: 'Roboto', sans-serif;
}

.info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    margin-bottom: 50px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.images > img {
    height: 120px;
    width: 120px;
    border-radius: 25px;
}